<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <header>
      </header>
      <h1>Edit Content</h1>
      <%= form_with(model: @post, local: true) do |form| %>
      <div class="post_content">
        <%= form.label :'What\'s up?' %>
        <%= form.text_field :content %>
      </div>
      <div class="post_submit">
      <%= form.submit %>
      </div>
      <p class="link_to">
        <%= link_to "つぶやき一覧画面にもどる", posts_path %>
      </p>
      <% end %>
      <footer>
      </footer>
    </div>
  </body>
</html>
