<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <header>
      </header>
      <h1>つぶやき一覧</h1>
      <p><%= notice %></p>
      <table>
        <tr>
          <th>内容</th>
        </tr>
        <% @posts.each do |post| %>
        <tr>
          <td><%= post.content %></td>
          <td><%= link_to "内容を編集する", edit_post_path(post.id) %></td>
          <td><%= link_to '内容を削除する', post_path(post.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
        </tr>
        <% end %>
      </table>
      <p class="link_to">
        <%= link_to '新しくつぶやきを投稿する', new_post_path %>
      </p>
      <footer>
      </footer>
    </div>
  </body>
</html>
